<div><%="Vos produits et services"%></div>
<div><%="Timbres et enveloppes"%></div>
<div><%="Envoyer sans vous déplacer"%></div>
<div><%="Déménagement, Absence"%></div>
<div><%="Envois importants"%></div>
<div><%="Livraison sites marchands"%></div>
<div><%="Collection"%></div>
<div><%="Veiller sur vos proches"%></div>
</div>
<div style="display:flex;flex-direction:column;">
<div><%="Comparateur de tarifs"%></div>
<div><%="Préparer votre envoi"%></div>
<div><%="Nos conseils pour tout envoyer"%></div>
<div><%="Courrier/document"%></div>
<div><%="Bouteille"%></div>`
<div><%="Chaussures"%></div>
<div><%="Vetement/accessoire"%></div>
<div><%="CD/DVD/Vidéo"%></div>
<div><%="Informatique"%></div>
<div><%="High-tech"%></div>
<div><%="Auto-Moto"%></div>
<div><%="Livres"%></div>
<div><%=" Clés & papiers d'identité"%></div>
</div>
<div style="display:flex;flex-direction:column;">
<div><%="Mon Compte"%></div>
<div><%="Aide et contact"%></div>
<div><%="Espace sourds et malentendants"%></div>
<div><%="Mieux nous connaître"%></div>
<div><%="Plan du site"%></div>
<div><%="Charte accessibilité"%></div>
<div><%="Conditions contractuelles"%></div>
<div><%="Information sur les cookies"%></div>
<div><%="Mentions légales"%></div>
<div><%="Politique de protection des données"%></div>
<div><%="Informatique et liberté"%></div>
</div>
<div style="background-color: darkgrey;">
<div><%="Nos applications mobiles"%></div>
<div style="display:flex;flex-direction:row;"><div style="display:flex;flex-direction:column;"><div style="border-left:1px solid lightgray;"><%=image_tag "appli_laposte.png", style:"height:40px;width:40px;"%></div>
<div style="display:flex;flex-direction:column;"><%="Application La Poste"%></div></div>
<div style="display:flex;flex-direction:column;"><div style="border-left:1px solid lightgray;"><%=image_tag "logo_digiposte.png", style:"width:40px;height:40px;"%></div>
<div><%="Digiposte"%></div></div>
<div style="display:flex;flex-direction:column;"><div style="border-left:1px solid lightgray;"><%=image_tag "icon_youpix.png", style:"height:40px;width:40px;"%></div>
<div><%="Youpix"%></div></div>
<div style="display:flex;flex-direction:column;"><div style="border-left:1px solid lightgray;"><%=image_tag "icon_chronopost.png", style:"width:40px;height:40px;"%></div>
<div><%="Application Chronopost"%></div></div>
<div style="display:flex;flex-direction:column;"><div style="border-left:1px solid lightgray;"><%=image_tag "icon_laposte_mobile.png"%></div>
<div><%="La Poste Mobile"%></div></div>
<div style="display:flex;flex-direction:column;"><div style="border-left:1px solid lightgray;"><%=image_tag "icon_ardoiz.png", style:"height:40px;width:40px;"%></div>
